{% extends 'main/layout.html' %}
{% load static %}
{% block title %}главная стриница{% endblock %}

{% block penes %}
<link rel="stylesheet" href="{% static 'css/add_product.css' %}">

<article>
    <main>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="paragraph">
                <label for="id_title">Название</label>
                {{form.title}}
            </div>
            <div class="paragraph">
                <label for="id_image"> Выберите картинку</label>
                {{form.image}}
                <div id="id_preview" >
                    <p>No files selected for upload</p>
                </div>
            </div>
            <div class="paragraph">
                <label for="id_description">Описание</label>
                {{form.description}}
            </div>
            <button type="submit">upload</button>
        </form>
    </main>
</article>

<script src="{% static 'js/add_product.js' %}"></script>
{% endblock %}