<!-- templates/login.html -->
{% extends 'main/layout.html' %}
{% load static %}
{% block title %}главная стриница{% endblock %}


{% block penes %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">

<article>
  <h1 class="intro">Вход</h1>
  <form method="post">
    {% csrf_token %}
    <p>
      <label class="text" for="id_username">Username</label> <br>
      {{ form.username }}
    </p>
    <p>
      <label class="text" for="id_password">Password</label> <br>
      {{ form.password}}
    </p>
    <button type="submit">Войти</button>
  </form>
  <p class="text">Нет аккаунта? Ну чё ты тянешь, чумба? <a class="text" id="registration-page-link"  href="{% url 'register' %}">Зарегайся</a></p>
</article>
{% endblock %}
