{% extends 'main/layout.html' %}
{% load static %}


{% block penes %}
<link rel="stylesheet" href="{% static 'css/my_products.css' %}">

<article>
<div class="container">
    <h1>Ваши изображения</h1>
    
    {% if form %}
        <div class="image-gallery">
            {% for image in form %}
                <div class="image-cont">
                    <div class="content">
                        <p id="title">{{ image.title }}</p>
                        <hr>
                    </div>

                    {% if image.image %}
                        <img class="img-asd" src="{{ image.image.url }}" alt="{{ image.title }}" width="200">
                    {% else %}
                        <p>Изображение не загружено</p>
                    {% endif %}
                    <div class="content">
                        <hr>
                        <p id="dateTime">{{image.date | date:"d.m.Y H:i" }}</p>
                    </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-images">
            <p>У вас пока нет загруженных изображений.</p>
        </div>
    {% endif %}


    </div>
<div id="preview"> 

</div>
</article>

<script src="{% static 'js/my_products.js' %}"></script>

{% endblock %}