*{
    color: var(--text-color);
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    
    background-color: var(--bg-color);
}       

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.paragraph{
    display: flex;
    flex-direction: column;
}

textarea{
    resize: none;
    min-height: 100px;
    width: 100%;
    height: fit-content;
}
